<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration_number_widget</title>
</head>

<body class="main">

    <div class="row theMain justify-content-center">


        <div class="col-2-lg">

            <p class="text-left"></p>
        </div>

        <div class="col-8-lg col-9-md justify-content-center centerDiv mx-2">
            <div class="row text-center head bg-light">

                <div class="col-12">
                    <h1>Registration Number:</h1>
                </div>

            </div>
            <br>

            <div class="row">
                <div class="col-12">
                    {{#if messages.error}} <div class="alert alert-danger alert-dismissible">

                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <p class="text-center">{{messages.error}}</p>
                    </div>

                    {{/if}}
                </div>
                <div class="col-12">
                    {{#if messages.success}}
                    <div class="alert alert-success alert-dismissible">

                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <p class="text-center">{{messages.success}} </p>
                    </div>

                    {{/if}}
                </div>


            </div>
            <form action="/reg_Numbers" method="POST">
                <div class="row my-5 justify-content-lg-center form-group">

                    <div class="">

                        <h4> <input type="text" value="" placeholder="Enter Reg Number e.g CA 123-456"
                                id="regNumberInput" name="theRegNumber" class="enterReg text-center"></h4>
                    </div>

                    <div class=""> <button name="addRegNumber" type="submit"
                            class="btn btn-outline-default mb-3 ml-5">Add</button>

                    </div>
                </div>
            </form>




            <form action="/selectTown" method="POST">

                <div class="row justify-content-lg-center">


                    <div class="">

                        <select name="theTown" class="dropdown mt-3 towns" type="submit">

                            <option value="">Filter By Town</option>

                            <option value="allTowns">All Towns</option>
                            {{#each towns}}
                            <option value="{{this.town_name}}">{{this.town_name}}</option>
                            {{/each}}


                        </select>
                    </div>
                    <div class="mt-3">
                        <button type="submit " class="btn btn-outline-default mb-3 ml-5"
                            name="submitTown">Filter</button>
                    </div>

                </div>

            </form>


          

            <br>

            <div class="row justify-content-center px-5">
                <div class="">
                    {{#each townSelected}}
                    <ul name="ul" class="townsList">

                        <li class="text-center">{{this.reg_number}}</li>

                    </ul>

                    {{/each}}
                </div>
                <div class="">
                    {{#each data.allRegNumbers}}
                    <ul name="ul" class="townsList">

                        <li class="text-center">{{this.reg_number}}</li>

                    </ul>

                    {{/each}}

                </div>
            </div>

            <br>

             <div class="row justify-content-center">
                <div class="col-3"></div>
                <div class="col-3">

                </div>
                <div class="col-3">
                    <form action="/clearReg" method="POST">

                        <div class="row justify-content-lg-center">
                            <div class="col-12">

                                <button id="clearButton" class="btn btn-outline-default ml-5 mt-3" name="clearRegNumber"
                                    type="submit">Clear
                                    Entries</button>


                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-2-lg">
                <p class="text-right"></p>

            </div>

        </div>
</body>


</html>