<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration_number_widget</title>
    {{!-- <link rel="stylesheet" href="./registration_number.css"> --}}
</head>

<body>
    <div class="main">

        <div class="err">

            {{messages.error}}
            {{#if messages.error}} <p>e.g CA 123-456 or CA 123</p>
            {{/if}}
        </div>


        <label class="labels">Registration Number:</label>


        <div class="userInput">
            <form action="/reg_Numbers" method="POST">
                <input type="text" value="" placeholder="Enter Reg Number e.g CA 123-456" id="regNumberInput"
                    name="theRegNumber">


                <button name="addRegNumber" type="submit" class="button">Add</button>

            </form>



            <div class="townsWrapper">

                <form action="/selectTown" method="POST">

                    <select name="theTown" class="filterTowns" id="townList" type="submit">
                        <option value="">Filter By Town</option>
                        <option value="allTowns">All Towns</option>
                        {{#each towns}}
                        <option value="{{this.town_string}}">{{this.town_name}}</option>
                        {{/each}}
                        {{!-- <option id="capetown" value="CA" >Cape Town</option>
                <option id="paarl" value="CJ" >Paarl</option>
                <option id="stellenbosch" value="CL">Stellenbosch</option> --}}
                    </select>
                    <button type="submit " class="button" name="submitTown" id="filterButton">Filter</button>

                    <br> <br>
                </form>

            </div>







            {{!-- <label class="errorLabel" class="labels"></label> --}}

 <div class="listDiv">
            {{#each townSelected}}
            <ul name="ul" class="townsList">
               
                    <li>{{this.reg_number}}</li>
                
            </ul>

            {{/each}}


            {{#each data.allRegNumbers}}
            <ul name="ul" class="townsList">
                <div class="listDiv">
                    <li>{{this.reg_number}}</li>
                </div>
            </ul>

            {{/each}}

</div>


            <!-- <button class="buttons" id="filterButton">filter</button> -->


            <form action="/clearReg" method="POST">

                <button {{clearEntries}} id="clearButton" name="clearRegNumber" type="submit">Clear Entries</button>

            </form>






        </div>
</body>


</html>